@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body
{
     background-color:#3e115b;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    ::selection
    {
        background-color: #fff;
        color: #3e115b;
    }
}

.tx-color
{
    color: #3e115b;
}
.border
{
    border-color: #fff !important;
}
.drop
{
      filter: drop-shadow(1px 1px 20px #3e115b);
      
}
.border1
{
    border-color: #3e115b !important;
}
.bg
{
      filter: drop-shadow(1px 1px 20px #fff);
}
.bg1
{
    background-color: #fff;
    color: #3e115b;
    margin-top: 150px;
}
.bg2 
{
    background-color: #fff;
    height: 300px;
    margin-top: 120px;
}
.btn1
{
    text-align: center;
    padding-top: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
   
    width: 50px;
    height: 50px;
    cursor: pointer;
    
    transition: 0.5s;
}
.btn1:hover
{
    background-color: #1a0329;
    color: #fff;
    filter: drop-shadow(1px 1px 20px #fff);
}
.btn2
{
     border: none;
    text-align: center;
    width: 50%;
    height: 30px;
    color: #3e115b;
    border: 2px solid #3e115b;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}
.btn2::before
{
     content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #3e115b;
      z-index: -1;
      transition:0.9s  ease-out;
}
.btn2:hover::before
{
     width: 100%;
}
.btn2:hover
{
    color: #fff;
}
.btn3
{
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    color: #3e115b;
    width: 30%;
    height: 40px;
    transition:0.9s ;
}
.btn3:hover
{
    background-color: #3e115b;
    color: #fff;
    filter: drop-shadow(1px 1px 20px #fff);
}
