@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */
body
{
     /* background-color:#3e115b; */
     background: #00000d;
     /* opacity: 50%; */
     color: #FFFFF0;
     /* font-family: 'Poppins', sans-serif; */
     font-family:Roboto ;
    ::selection
    {
        /* background-color: ; */
        color: #101012;
    }
}
.boxess{
    width: 50em;
    line-height: 1.5em;
    
}
 .bg_navbar
{
  /* background-color: #0d0d0f;    */
  background-color: #000010;   
}

.tx-color
{
    color: #FFFFF0 !important;
}
.border
{
    border-color: #FFFFF0 !important;
}
.drop
{
      filter: drop-shadow(1px 1px 20px #3e115b);
      
}
.border1
{
    border-color: #3e115b !important;
}
.bg
{
      filter: drop-shadow(1px 1px 20px #FFFFF0);
}
.bg1
{
    background-color: #000010;
    color: #FFFFF0;
    margin-top: 150px;
}
.bg2 
{
    background-color: #FFFFF0;
    height: 300px;
    margin-top: 120px;
}
.btn1
{
    text-align: center;
    padding-top: 10px;
    border: 2px solid #FFFFF0;
    border-radius: 50%;
   
    width: 50px;
    height: 50px;
    cursor: pointer;
    
    transition: 0.5s;
}
.btn1:hover
{
    background-color: #1a0329;
     color: #FFFFF0;
    filter: drop-shadow(1px 1px 20px #FFFFF0);
}
.btn2
{
     border: none;
    text-align: center;
    width: 50%;
    height: 30px;
    color: #3e115b;
    border: 2px solid #3e115b;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}
.btn2::before
{
     content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #3e115b;
      z-index: -1;
      transition:0.9s  ease-out;
}
.btn2:hover::before
{
     width: 100%;
}
.btn2:hover
{
    color: #FFFFF0;
}
.btn3
{
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: #FFFFF0;
    color: #3e115b;
    width: 30%;
    height: 40px;
    transition:0.9s ;
}
.btn3:hover
{
    background-color: #3e115b;
     color: #FFFFF0;
    filter: drop-shadow(1px 1px 20px #FFFFF0);
}
